<h2>Follow Users</h2>

<% if @user.exists? %>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
      </tr>
    </thead>

    <tbody>
      <% @user.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "person.jpg", size:'60x60' %>
          </td>
          <td><%= user.name %></td>
          <td>フォロー数：<%= user.followings.count %></td>
          <td>フォロワー数：<%= user.followers.count %></td>
          <td><%= link_to "Show",usershow_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <P>ユーザーはいません</P>
<% end %>