<% if @ubgs.exists? %>

  <% if @ubg == 1 %>

    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ubgs.each do |user|%>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "person.jpg", size:'60x60' %></td>
            <td><%= user.name %></td>
            <td>
              フォロー数：<%= user.followings.count %>
            </td>
            <td>
              フォロワー数：<%= user.followers.count %>
            </td>
            <td>
              <% unless current_user.id == user.id %>
                <% if current_user.following?(user) %>
                  <%= link_to "フォロー外す", user_relationship_path(user_id: user.id, id: current_user.id), method: :delete %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(user_id: user.id, id: current_user.id), method: :post %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to "Show",usershow_path(user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% elsif @ubg == 2 %>

    <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ubgs.each do |book|%>
          <tr>
            <td>
              <%= link_to (attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "person.jpg", size:'60x60'), usershow_path(book.user.id) %>
            </td>
            <td><%= link_to book.title,bookshow_path(book.id)  %></td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>

    <h2>Groups</h2>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>グループ名</th>
          <th>紹介文</th>
          <th>メンバー数</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ubgs.each do |group|%>
          <tr>
            <td><%= attachment_image_tag group, :image, :fill, 60, 60, fallback: "person.jpg", size:'60x60' %></td>
            <td><%= link_to (group.name), group_path(group.id) %></td>
            <td><%= group.introduction %></td>
            <td><%= (group.group_users.count + 1) %></td>
            <% if group.owner_id == current_user.id %>
              <td><%= link_to "Edit",edit_group_path(group.id), :class => 'btn btn-sm btn-success' %></td>
              <td><%= link_to "Destroy",group_path(group.id), :class => 'btn btn-sm btn-danger', method: :delete, "data-confirm" => "ホンマに削除するん？、ええんやな？？" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

<% else %>

  <h2>該当しませんでした。</h2>

<% end %>